$bg: #000000;
$bg-block: #0F0F0F;
$bg-default: #1F1F1F;
$text-color: #fff;
$text-default: #969696;

%hr-line{
    border-left: 1px solid #333;
    padding: 0 10px;
}

body, html{
    margin: 0;
    background: $bg;
    font-family: 'Roboto', sans-serif;
}

*,
*::hover,
*::after{
    box-sizing: border-box;
}

*p{
    font-size: 12px;
    margin: 0;
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
}


.fas.fa-phone{
    transform: rotate(90deg);
    color: #969696;
}

.fas.fa-shopping-cart, .fas.fa-search{
    color: #fff;
    padding-left: 50px;
    transition: .2s;
}

.fas.fa-shopping-cart:hover, .fas.fa-search:hover{
    color: $text-default;
    transition: .2s;
}

.fas.fa-sign-in-alt{
    color: #969696;
}
.fas.fa-sign-in-alt:hover{
    color: $text-color;
    transition: .2s;
}


.burger--active {
    display: none;
  }
  
.burger {
    position: relative;
    top: 0px;
    left: 55px;
    width: 50px;
    height: 50px;
}

.burger span, .burger span:before, .burger span:after {
    width: 100%;
    position: absolute;
    height: 10px;
    background: white;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
  }

  .burger span:before {
    content: "";
    top: -20px;
    -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .burger span {
    top: 20px;
  }
  
  .burger span:after {
    content: "";
    bottom: -20px;
    -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .burger span.active:before {
    content: "";
    top: 0px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .burger span.active:after {
    content: "";
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .burger span.active {
    background: rgba(255, 255, 255, 0);
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 55px;
    padding: 10px;

    width: 300px;
    height: auto;
    background: #333;

    color: #ccc;
    position: fixed;
    left: -320px;
    -webkit-transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .menu.animate {
    left: 0;
  }

  .arrow{
      display: none;
  }


.header{
    padding: 0 5px;
}

.line-header{
    display: flex;
    justify-content: space-around;

    padding: 20px 60px;
}

.faq{
    display: flex;
}

.faq__subtitle{
    display: flex;

    padding: 0;
    padding-left: 15px;
    margin: 0;

    list-style: none;
}

.faq__txt{
    @extend %hr-line;

    color: $text-default;
}

.faq__txt:first-child{
    border: 0;
    padding-left: 0;
}

.authorization{
    display: flex;
}

.log-in, .sign-in{
    padding: 0 25px;
    text-decoration: none;
    color: $text-default;

    transition: .2s;
}

.log-in:hover, .sign-in:hover{
    color: $text-color;
    transition: .2s;
}

.line{
    @extend %hr-line;

    margin: 0;
    padding: 0;
    
    transform: rotate(15deg);
}

.logo__title{
    color: $text-color;
    text-transform: uppercase;
}



.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: $bg-block;

    padding: 25px 100px;
}


.nav__item{
    padding: 35px;

    text-transform: uppercase;
    text-decoration: none;
    transition: .2s;

    color: $text-default;
}

.nav__item:hover{
    background: $bg-default;
    color: $text-color;
    transition: .2s;
}

.main{
    padding: 0 5px;
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url('../img/info.png') center no-repeat;
    height: 810px;
}

.section__box{
    color: $text-color;

    border: 2px solid #fff;

    padding: 125px 75px;

    text-transform: uppercase;
    text-align: center;    
}

.section__title{
    font-size: 64px;
}

.section__subtitle{
    font-size: 22px;
}

.section__text{
    padding: 50px 515px 0px 525px;
    text-align: center;
    text-transform: uppercase;


    font-size: 16px;
    line-height: 24px;

    color: $text-color;
}

.hr{
    width: 230px;
}


.section-2{
    display: flex;
}

.section__item-1{
    padding: 65px 32px;
}


.item__season{
    display: flex;
    justify-content: center;
    align-items: center;

    color: $text-color;
    font-size: 36px;
    text-transform: uppercase;

    padding: 25px;
}

.item__season-txt{
    font-size: 24px;
    color: $text-color;

    padding-top: 5px;
    padding-left: 15px;
}


.hr__coll{
    width: 150px;
    border-color: $text-default;
}

.advantages__items{
    display: flex;

    padding-top: 21px;
}

.item{
    margin: 32px;
}




.item__img{
    cursor: pointer;
    background: #191B1C;
    padding: 55px 22px;
}

.item__title{
    padding-top: 25px;
    padding-bottom: 10px;
    
    font-size: 18px;
    font-weight: 700;

    color: $text-color;
}

.item__price{
    font-size: 16px;
    font-weight: 700;

    color: $text-color;
}

.section__item-2{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url('../img/new__collection.png') center no-repeat;
}

.item-2__title{
    color: $text-color;

    font-size: 36px;
    font-weight: 700;

    padding-top: 375px;
}

.hr__coll-2{
    width: 150px;

    margin: 30px 0;
}

.item__coll{
    color: $text-color;
    font-size: 18px;
    text-transform: uppercase;

    text-decoration: none;

    border: 2px solid #fff;
    
    padding: 15px 50px;

    transition: .2s;
}

.item__coll:hover{
    background: $text-color;
    color: #000;

    transition: .2s;
}

.features__items{
    display: flex;
}

.features__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__item:last-child{
    padding-top: 100px;
}

.features__title{
    display: flex;
    align-items: center;

    text-transform: uppercase;
    color: $text-color;
    font-size: 36px;
}

.features__title-2{
    font-size: 36px;
    font-weight: 400;

    padding-left: 25px;
    padding-bottom: 8px;
}

b{
    font-size: 48px;
    font-weight: 400;
}

.hr__features{
    width: 150px;

    margin: 40px 0;
}

.features__subtitle{
    color: $text-color;
    font-size: 14px;
    line-height: 21px;

    text-align: center;
    padding: 0 250px;
}

.features__btn{
    margin-top: 60px;

    color: $text-color;
    text-transform: uppercase;

    border: 2px solid #fff;
    padding: 20px 60px;

    text-decoration: none;
    transition: .2s;
}


.features__btn:hover{
    color: #000;
    background: $text-color;
    transition: .2s;
}


.benefits{
    text-align: center;
    
    padding: 150px 0;
}

.benefits__title{
    color: $text-color;
    
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.hr__benefits{
    width: 150px;
    
    margin-top: 50px;
    margin-bottom: 100px;
}

.benefits__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__column{
    display: flex;
}

.section-5{
    background: $bg-default;
}

.brand{
    text-align: center;
    padding: 35px;
    padding-top: 75px;
}

.brand__title{
    color: $text-color;

    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.hr__brand{
    width: 150px;

    margin-top: 40px;
    
}

.brand__items{
    padding: 25px;
}

.brand__img{
    padding: 25px;
}


.footer{
    padding: 0 5px;
}

.footer__info{
    display: flex;

    background: url('../img/foo__img.png') center no-repeat;
    height: 400px;
}

.footer__items{
    display: flex;
    align-items: center;
}


.footer__item-1{
    flex: 1 1 0;
    padding-left: 275px;
}

.footer__item-2{
    flex: 1 1 0;
    padding: 0 75px;
}

.footer__item-3{  
    flex: 1 1 0;
    padding-right: 275px;
}

.footer__title{
    color: $text-color;

    padding-bottom: 50px;

    text-transform: uppercase;
    font-size: 24px;
}

.footer__subtitle{
    color: $text-color;
    font-size: 14px;
    line-height: 21px;
}

.foo__items{
    display: flex;
    flex-wrap: wrap;
}

.foo__item{
    background: $bg;

    padding: 15px;
    margin: 10px 15px;

    text-decoration: none;
    color: $text-color;

    transition: .2s;
}

.foo__item:hover{
    background: #fff;
    color: #000;

    transition: .2s;
}

.inputs{
    padding-top: 50px;
}

.foo__input-text, .foo__input-submit{
    border: 0;
    padding: 15px;
}

.foo__input-submit{
    position: absolute;

    background: $bg;
    color: $text-color;

    text-transform: uppercase;
    transition: .2s;
}

.foo__input-submit:hover{
    background: #fff;
    color: #000;
    transition: .2s;
}

.foo__input-text{
    background: #ffffff66;
    outline:none;

    transition: .2s;
}

.foo__input-text:focus{
    background: rgb(95 95 95 / 40%);
    color: #fff;
    transition: .2s;
}

.foo__input-text::placeholder{
    color: #fff;
}

.line-footer{
    display: flex;
    justify-content: space-around;

    padding: 25px;
}


.footer__txt{
    color: $text-color;
}




/* Adaptive */

@media screen and (max-width: 1600px) {
    .section-2{
        flex-direction: column;
        align-items: center;
    }

    .section__box{
        margin-top: 100px;
    }

    .section__text{
        font-size: 14px;
        line-height: 21px;
    }

    .item__coll{
        margin-bottom: 75px;
    }

    .section-3{
        padding-top: 25px;
    }

    .features__items{
        flex-direction: column;
    }
}

@media screen and (max-width: 1300px){
    .benefits__row{
        flex-direction: row;
        justify-content: center;
    }

    .benefits__column{
        flex-direction: column;
    }

    .footer__item-1{
        padding-left: 20px;
    }

    .footer__item-2{
        padding: 0 30px;
    }

    .footer__item-3{
        padding-right: 20px;
    }

    .section__text{
        padding: 50px 50px 0px 50px;
    }

}

@media screen and (max-width: 1150px) {
    .footer__info{
        flex-direction: column;
        text-align: center;
    }

    .footer__title{
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .inputs{
        padding-top: 20px;
    }

    .footer__items{
        flex-direction: column;
    }

    .footer__item-1{
        padding: 0 20px;
    }

    .footer__item-3{
        padding: 0 20px;
    }

    .footer__item-2{
        display: flex; 
    }

    .foo__item{
        margin: 10px 5px;
    }

    
    .inputs{
        padding-right: 80px;
    }
}

@media screen and (max-width: 1045px) {

    .nav{
        padding: 25px 55px;
    }

    .advantages__items{
        flex-direction: column;
    }    

    .features__subtitle{
        padding: 0 50px;
    }

    .nav__item{
        padding: 20px;
    }
}

@media screen and (max-width: 900px) {
    .features__img{
        width: 100%;        
    }

    .footer__title{
        font-size: 18px;
    }
    .footer__subtitle{
        font-size: 12px;
    }

    .footer__title{
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .foo__input-text, .foo__input-submit{
        padding: 10px;
    }

    
    .foo__item{
        margin: 5px 5px;
        padding: 10px;
    }

    .faq__txt{
        font-size: 12px;
    }

    .faq__subtitle{
        align-items: center;
    }

    .log-in, .sign-in{
        font-size: 12px;
    }

    .fas.fa-shopping-cart, .fas.fa-search{
        padding-left: 13px;
    }
}

@media screen and (max-width: 768px) {

    .nav__link{
        display: flex;
        align-items: center;
    }
    
    .nav__item:first-child{
        padding-left: 15px;
    }

    .nav__item{
        padding: 10px;
    }

    .fas.fa-shopping-cart, .fas.fa-search{
        padding-left: 13px;
    }
}

@media screen and (max-width: 610px) {
    .benefits__row{
        flex-direction: column;
    }

    .footer__item-2{
        align-items: center;
    }

    .footer__subtitle{
        line-height: 16px;
    }

    .authorization{
        padding-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .line-header{
        flex-direction: column;
        align-items: center;
        padding: 20px 50px 0px 64px;
    }

    .section__box{
        padding: 100px 50px;
        margin-top: 0px;
    }
    
    .nav__ico{
        padding-top: 10px;
    }
    
    .off{
        display: none;
    }

    .active{
        display: block;
    }

    .footer__item-1, .footer__item-2, .footer__item-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow{
        display: block;
        color: $text-color;
    }


    .foo__items{
        justify-content: center;
    }

    
    .burger--active{
        display: block;
    }

    .faq{
        flex-direction: column;
        align-items: center;
    }

    .faq__subtitle{
        flex-direction: column;
        padding: 0;
    }

    .faq__txt{
        padding-top: 10px;
    }

    .log-in{
        padding: 10px 0;
    }

    .brand__items{
        padding: 0;
    }

    .brand__img{
        padding: 5px;
    }

    .item{
        margin: 20px;
    }

}


