$bg: #000000;
$bg-block: #0F0F0F;
$bg-default: #1F1F1F;
$text-color: #fff;
$text-default: #969696;

%hr-line{
    border-left: 1px solid #333;
    padding: 0 10px;
}

body, html{
    margin: 0;
    background: $bg;
    font-family: 'Roboto', sans-serif;
}

*,
*::hover,
*::after{
    box-sizing: border-box;
}

*p{
    font-size: 12px;
    margin: 0;
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
}


.fas.fa-phone{
    transform: rotate(90deg);
    color: #969696;
}

.fas.fa-shopping-cart, .fas.fa-search{
    color: #fff;
    padding-left: 50px;
    transition: .2s;
}

.fas.fa-shopping-cart:hover, .fas.fa-search:hover{
    color: $text-default;
    transition: .2s;
}

.fas.fa-sign-in-alt{
    color: #969696;
}
.fas.fa-sign-in-alt:hover{
    color: $text-color;
    transition: .2s;
}

.container{
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
}

.line-header{
    display: flex;
    justify-content: space-around;

    padding: 20px 60px;
}

.faq{
    display: flex;
}

.faq__subtitle{
    display: flex;

    padding: 0;
    padding-left: 15px;
    margin: 0;

    list-style: none;
}

.faq__txt{
    @extend %hr-line;

    color: $text-default;
}

.faq__txt:first-child{
    border: 0;
    padding-left: 0;
}

.authorization{
    display: flex;
}

.log-in, .sign-in{
    padding: 0 25px;
    text-decoration: none;
    color: $text-default;

    transition: .2s;
}

.log-in:hover, .sign-in:hover{
    color: $text-color;
    transition: .2s;
}
/*
.hr{
    margin: 0;
    border-left: 1px #969696;
    transform: rotate(15deg);

    border-style: solid;
}*/

.line{
    @extend %hr-line;

    margin: 0;
    padding: 0;
    
    transform: rotate(15deg);
}

.logo__title{
    color: $text-color;
    text-transform: uppercase;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: $bg-block;

    padding: 25px 100px;
}


.nav__item{
    padding: 35px;

    text-transform: uppercase;
    text-decoration: none;
    transition: .2s;

    color: $text-default;
}

.nav__item:hover{
    background: $bg-default;
    color: $text-color;
    transition: .2s;
}


.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url('/assets/img/info.png') center no-repeat;
    height: 810px;
}

.section__box{
    color: $text-color;

    border: 2px solid #fff;

    padding: 125px 75px;
    margin-top: 50px;

    text-transform: uppercase;
    text-align: center;    
}

.section__title{
    font-size: 64px;
    
}

.section__subtitle{
    font-size: 22px;
}

.section__text{
    padding: 75px 565px;
    text-align: center;
    text-transform: uppercase;


    font-size: 16px;
    line-height: 24px;

    color: $text-color;
}

.hr{
    width: 230px;
}


.section-2{
    display: flex;
}

.section__item-1{
    padding: 65px 0px;
}


.item__season{
    display: flex;
    justify-content: center;
    align-items: center;

    color: $text-color;
    font-size: 36px;
    text-transform: uppercase;

    padding: 25px;
}

.item__season-txt{
    font-size: 24px;
    color: $text-color;

    padding-top: 5px;
    padding-left: 15px;
}


.hr__coll{
    width: 150px;
    border-color: $text-default;
}

.advantages__items{
    display: flex;

    padding-top: 21px;
}

.item{
    margin: 32px;
}

.item:first-child{
    margin-left: 65px;
}

.item:last-child{
    margin-right: 55px;
}


.item__img{
    background: #191B1C;
    padding: 55px 22px;
}

.item__title{
    padding-top: 25px;
    padding-bottom: 10px;
    
    font-size: 18px;
    font-weight: 700;

    color: $text-color;
}

.item__price{
    font-size: 16px;
    font-weight: 700;

    color: $text-color;
}

.section__item-2{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url(/assets/img/new__collection.png) no-repeat;
}

.item-2__title{
    color: $text-color;

    font-size: 36px;
    font-weight: 700;

    padding-top: 375px;
}

.hr__coll-2{
    width: 150px;

    margin: 30px 0;
}

.item__coll{
    color: $text-color;
    font-size: 18px;
    text-transform: uppercase;

    text-decoration: none;

    border: 2px solid #fff;
    
    padding: 15px 50px;

    transition: .2s;
}

.item__coll:hover{
    background: $text-color;
    color: #000;

    transition: .2s;
}


.section-3{

}

.features{

}

.features__items{
    display: flex;
}

.features__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__title{
    display: flex;
    align-items: center;

    text-transform: uppercase;
    color: $text-color;
    font-size: 36px;
}

.features__title-2{
    font-size: 36px;
    font-weight: 400;

    padding-left: 25px;
    padding-bottom: 8px;
}

b{
    font-size: 48px;
    font-weight: 400;
}

.hr__features{
    width: 150px;

    margin: 40px 0;
}

.features__subtitle{
    color: $text-color;
    font-size: 14px;
    line-height: 21px;

    text-align: center;
    padding: 0 250px;
}

.features__btn{
    margin-top: 60px;

    color: $text-color;
    text-transform: uppercase;

    border: 2px solid #fff;
    padding: 20px 60px;

    text-decoration: none;
    transition: .2s;
}


.features__btn:hover{
    color: #000;
    background: $text-color;
    transition: .2s;
}


.benefits{
    text-align: center;
    
    padding: 150px 0;
}

.benefits__title{
    color: $text-color;
    
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.hr__benefits{
    width: 150px;
    
    margin-top: 50px;
    margin-bottom: 100px;
}

.benefits__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__column{
    display: flex;
}

.section-5{
    background: $bg-default;
}

.brand{
    text-align: center;
    padding: 35px;
    padding-top: 75px;
}

.brand__title{
    color: $text-color;

    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.hr__brand{
    width: 150px;

    margin-top: 40px;
    
}

.brand__items{
    padding: 25px;
}

.brand__img{
    padding: 25px;
}




.footer__info{
    display: flex;

    padding: 85px 325px;

    background: url('/assets/img/foo__img.png') 
                center no-repeat;
}


.footer__item-1{
    flex: 1 1 0;
}

.footer__item-2{
    flex: 1 1 0;
    padding: 0 75px;
}

.footer__item-3{  
    flex: 1 1 0;
}

.footer__title{
    color: $text-color;

    padding-bottom: 50px;

    text-transform: uppercase;
    font-size: 24px;
}

.footer__subtitle{
    color: $text-color;
    font-size: 14px;
    line-height: 21px;
}

.foo__items{
    display: flex;
    flex-wrap: wrap;
}

.foo__item{
    background: $bg;

    padding: 15px;
    margin: 10px 15px;

    text-decoration: none;
    color: $text-color;

    transition: .2s;
}

.foo__item:hover{
    background: #fff;
    color: #000;

    transition: .2s;
}

.inputs{
    padding-top: 50px;
}

.foo__input-text, .foo__input-submit{
    border: 0;
    padding: 15px;
}

.foo__input-submit{
    position: relative;
    right: 25px;

    background: $bg;
    color: $text-color;

    text-transform: uppercase;
    transition: .2s;
}

.foo__input-submit:hover{
    background: #fff;
    color: #000;
    transition: .2s;
}

.foo__input-text{
    background: #ffffff66;
    outline:none;

    transition: .2s;
}

.foo__input-text:focus{
    background: rgb(95 95 95 / 40%);
    color: #fff;
    transition: .2s;
}

.foo__input-text::placeholder{
    color: #fff;
}

.line-footer{
    display: flex;
    justify-content: space-around;

    padding: 25px;
}


.footer__txt{
    color: $text-color;
}

.footer__txt{
    margin-left: 225px;
}

.footer__txt:first-child{
    margin-left: 0;
    margin-right: 225px;
}


