.line, .faq__txt {
  border-left: 1px solid #333;
  padding: 0 10px;
}

body, html {
  margin: 0;
  background: #000000;
  font-family: "Roboto", sans-serif;
}

*,
*::hover,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  font-size: 12px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.fas.fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #969696;
}

.fas.fa-shopping-cart, .fas.fa-search {
  color: #fff;
  padding-left: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fas.fa-shopping-cart:hover, .fas.fa-search:hover {
  color: #969696;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fas.fa-sign-in-alt {
  color: #969696;
}

.fas.fa-sign-in-alt:hover {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.line-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 60px;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  list-style: none;
}

.faq__txt {
  color: #969696;
}

.faq__txt:first-child {
  border: 0;
  padding-left: 0;
}

.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.log-in, .sign-in {
  padding: 0 25px;
  text-decoration: none;
  color: #969696;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.log-in:hover, .sign-in:hover {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*
.hr{
    margin: 0;
    border-left: 1px #969696;
    transform: rotate(15deg);

    border-style: solid;
}*/
.line {
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.logo__title {
  color: #fff;
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0F0F0F;
  padding: 25px 100px;
}

.nav__item {
  padding: 35px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #969696;
}

.nav__item:hover {
  background: #1F1F1F;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/assets/img/info.png") center no-repeat;
  height: 810px;
}

.section__box {
  color: #fff;
  border: 2px solid #fff;
  padding: 125px 75px;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

.section__title {
  font-size: 64px;
}

.section__subtitle {
  font-size: 22px;
}

.section__text {
  padding: 75px 565px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.hr {
  width: 230px;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__item-1 {
  padding: 65px 0px;
}

.item__season {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  padding: 25px;
}

.item__season-txt {
  font-size: 24px;
  color: #fff;
  padding-top: 5px;
  padding-left: 15px;
}

.hr__coll {
  width: 150px;
  border-color: #969696;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 21px;
}

.item {
  margin: 32px;
}

.item:first-child {
  margin-left: 65px;
}

.item:last-child {
  margin-right: 55px;
}

.item__img {
  background: #191B1C;
  padding: 55px 22px;
}

.item__title {
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.item__price {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.section__item-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(/assets/img/new__collection.png) no-repeat;
}

.item-2__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  padding-top: 375px;
}

.hr__coll-2 {
  width: 150px;
  margin: 30px 0;
}

.item__coll {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item__coll:hover {
  background: #fff;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
}

.features__title-2 {
  font-size: 36px;
  font-weight: 400;
  padding-left: 25px;
  padding-bottom: 8px;
}

b {
  font-size: 48px;
  font-weight: 400;
}

.hr__features {
  width: 150px;
  margin: 40px 0;
}

.features__subtitle {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 0 250px;
}

.features__btn {
  margin-top: 60px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 20px 60px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.features__btn:hover {
  color: #000;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.benefits {
  text-align: center;
  padding: 150px 0;
}

.benefits__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hr__benefits {
  width: 150px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-5 {
  background: #1F1F1F;
}

.brand {
  text-align: center;
  padding: 35px;
  padding-top: 75px;
}

.brand__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.hr__brand {
  width: 150px;
  margin-top: 40px;
}

.brand__items {
  padding: 25px;
}

.brand__img {
  padding: 25px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 325px;
  background: url("/assets/img/foo__img.png") center no-repeat;
}

.footer__item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.footer__item-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 0 75px;
}

.footer__item-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.footer__title {
  color: #fff;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 24px;
}

.footer__subtitle {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}

.foo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foo__item {
  background: #000000;
  padding: 15px;
  margin: 10px 15px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.foo__item:hover {
  background: #fff;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.inputs {
  padding-top: 50px;
}

.foo__input-text, .foo__input-submit {
  border: 0;
  padding: 15px;
}

.foo__input-submit {
  position: relative;
  right: 25px;
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.foo__input-submit:hover {
  background: #fff;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.foo__input-text {
  background: #ffffff66;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.foo__input-text:focus {
  background: rgba(95, 95, 95, 0.4);
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.foo__input-text::-webkit-input-placeholder {
  color: #fff;
}

.foo__input-text::-moz-placeholder {
  color: #fff;
}

.foo__input-text:-ms-input-placeholder {
  color: #fff;
}

.foo__input-text::-ms-input-placeholder {
  color: #fff;
}

.foo__input-text::placeholder {
  color: #fff;
}

.line-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
}

.footer__txt {
  color: #fff;
}

.footer__txt {
  margin-left: 225px;
}

.footer__txt:first-child {
  margin-left: 0;
  margin-right: 225px;
}